Source: llama-chess
Section: games
Priority: optional
Maintainer: Ben Kibbey <bjk@luxsci.net>
Build-Depends: debhelper-compat (= 13), cmake, libncurses-dev,
 libperl-dev, gettext, pkg-config
Standards-Version: 4.6.2
Homepage: https://gitlab.com/bjk/cboard/wikis
Vcs-Git: https://gitlab.com/bjk/cboard.git

Package: llama-chess
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: crafty, gnuchess
Provides: cboard
Replaces: cboard
Conflicts: cboard
Description: An NCurses PGN browser, editor and chess engine interface.
 Llama Chess is a Console/Curses PGN file browser, editor and interface
 to chess engines supporting the XBoard protocol. It supports SAN move format
 with annotations including RAV, NAG, single and multi-line comments along with
 the FEN tag which can be edited by arranging pieces on the board. It can also
 validate and save to (optionally reduced) PGN format. Multiple games
 (human/human, human/engine, engine/engine) can be loaded, created, searched
 and edited.
