#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_auto_configure:
	dh_auto_configure -- \
		-DWITH_LIBPERL=ON \
		-DCMAKE_INSTALL_BINDIR=games

%:
	dh $@
