###############################################################################
# This is an example configuration file for CBoard. All of the settings below
# are the program defaults. Empty lines and lines beginning with '#' are
# ignored. Parameters and values are separated by one or more space or TAB
# characters.
###############################################################################
# The number of moves to jump when browsing history and pressing the UP or
# DOWN keys.
jumpcount	5

# The book method for the engine to use. Must be one of: off, prefer, best,
# worst or random.
book		random

# The engine search level for the next move.
depth		0

# Show agony strings on captures.
agony		on

# Show agony strings when browsing history. If "agony" above is off,
# this will be off also regardless of the setting.
historyagony	off

# If set, the default directory where games will be saved to and opened from.
# A tilde "~" as the first character will expand to your home directory.
#save_directory	/some/path

# When saving a game, prompt to edit PGN data. When saving in history mode,
# prompt for the history type. If off, you can override it using the ingame 'S'
# command.
save_prompt	on

# When deleting games with the 'D' command and this is on, prompt before
# deleting.
delete_prompt	on

# Compression level of gzip'd and .zip'd files.
clevel		6

# If "on", chess board line graphics will be drawn.
line_graphics	off

# If on, show valid moves for the selected piece.
valid_moves	on

# ICS server.
ics_server	ics.freechess.org

# ICS server port.
ics_port	5000

# ICS username.
ics_user	guest

# ICS user password.
#ics_passwd	password

# Below are color and attribute settings. These parameters may contain up to
# four values. The first and second are the foreground and background color
# names which must be one of: black, white, red, magenta, yellow, blue, cyan
# or green. 
#
# Each ..._window parameter sets the defaults for all characters in the given
# window.
#
# The third and fourth values are attributes for the color and non-color
# terminal. To include more than one attribute for a value, separate them with
# a single comma. The following attributes are available: bold, blink,
# reverse, dim, standout, underline, invisible, or none. Note that not all
# terminals support all attributes.
board_window	white	black
board_graphics	white	black
board_selected	white	yellow	none	bold,reverse
board_cursor	white	green	none	bold,reverse
board_black	white	black
board_white	white	red	none	reverse
board_coords	yellow	black	bold
board_moves	blue	cyan	none	reverse
board_count	magenta	cyan	bold	bold,reverse

status_window	white	black
status_title	white	blue	none	reverse
status_border	cyan	black
status_notify	red	black	none	bold
status_engine	yellow	black	none	bold

white_window	white	black
white_title	white	blue	none	reverse
white_border	cyan	black

black_window	white	black
black_title	white	blue	none	reverse
black_border	cyan	black

history_window	white	black
history_title	white	blue	none	reverse
history_border	cyan	black

message_window	white	black
message_title	white	green	none	reverse
message_border	cyan	black
message_prompt	white	green	none	bold

input_window	white	black
input_title	white	green	none	reverse
input_border	cyan	black
input_prompt	white	green	none	bold
